.wrapper {
  width: 100%;
  min-height: 80.5vh;
  background-color: var(--bg);
  margin-top: 12vh;
  color: var(--blue);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;

    .infoWrapper {
      width: 80%;
      border: 2px solid var(--layoutBG);
      margin: 0.5%;
      border-radius: 10px;
      box-shadow: 1px 1px 5px var(--blue);

      .button {
        margin: 0;
        background-color: var(--layoutBG);
        padding: 15px 25px;
        border-radius: 10px 10px 0 0;
        display: flex;
        justify-content: space-between;
        font-size: 2.4vh;
        font-weight: bold;
        align-items: center;
      }

      .info {
        img {
          width: 20%;
          height: auto !important;
          margin-right: 2%;
        }
        display: flex;
        background-color: var(--bg);
        border: 1px solid var(--layoutBG);
        padding: 5px;
        border-radius: 0 0 5px 5px;
        font-size: 2.35vh;
        margin: 2%;
      }
    }
  }

